body {
    background-color: #000;
    background: url('../Images/Background.jpg') no-repeat fixed center left;
    background-size: cover;
    color: #eee8e8;
    font-size: 20px;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    padding-top: 35px;
}

.myclosebtn {
padding-left: 210px !important;
font-size: 45px !important;
}
/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}
/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
text-decoration: none;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

#myNavbar {
    margin-left: 5px;
}
#pageNameLink {
    font-size: 25px;
}
.loginLink {
    color: #0b0094 !important;
    font-weight: 700;
}
.loginInputClass {
    width: 65%;
}
.eachInput {
    margin-top: 5px;
}
.loginButton {
    margin-top: 10px;
    margin-bottom: 10px;
}
.loginContainer {
    margin-top: 120px;
    margin-left: 587px;
    margin-right: 1px;
    margin-bottom: 1px;
}
.pleaseWaitClass {
    color: #ffc8c8;
    font-size: 20px;
}
.eachLabel {
    margin-top: 10px;
}
.viewClass {
    background: rgba(105, 105, 105, 0.5);
    border-radius: 25px;
    padding: 50px;
}
.orderbtn {
    display: block !important;
}
.orderbtn:hover {
    opacity: 0.9;
}

.selectItem:active {
    opacity: 0.2;
}
.selectItem:hover {
    color: darkgray;
}
.createUserContainer {
    margin-top: 60px;
    margin-left: 587px;
    margin-right: 1px;
    margin-bottom: 1px;
}
.createUserClass {
    width: 90%;
}

