
@{
    Layout = null;
}

<div class="container loginContainer">
    <div class="row">
        <div class="col-md-12 loginInputClass">
            <h2>Verify Account</h2>
            <label for="Email" class="control-label eachLabel"> Please enter your E-Mail address. </label>
            <input type="text" ng-model="data" id="Email" class="form-control eachInput"/>
            <button class="btn btn-primary" ng-click="verify()">Verify</button>
        </div>
    </div>
</div>
